<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>dotenv.get('GOOGLE_SERVICE_INFO_PLIST_API_KEY')</string>
	<key>GCM_SENDER_ID</key>
	<string>630153029956</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.budgetMaster</string>
	<key>PROJECT_ID</key>
	<string>budget-master-fe572</string>
	<key>STORAGE_BUCKET</key>
	<string>budget-master-fe572.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:630153029956:ios:813a1910cde3f225470f11</string>
</dict>
</plist>